/* Define root variables for reusability */
:root {
    --mainBgColor: white;
    --mainFontSize: 2rem;
    --background-image: url(Pfp.jpg);
}

/* Style the body for a centered, full-height layout */
body {
    margin: 0;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Style the background video */
#bgVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: hue-rotate(60deg);
}

/* Style the login box container */
.login-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: transparent;
    width: 70rem;
    height: 30rem;
    overflow: hidden;
    backface-visibility: visible;
    box-shadow: 5px 5px 5px 5px black;
}

/* Apply a frosted glass effect to the login box */
.login-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(-10);
    z-index: -1;
}

/* Style the left side of the login box */
.side1 {
    position: relative;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    border-radius: 30px;
    overflow: hidden;
}

/* Style the carousel container */
.carousel-container {
    width: 45%;
    height: 90%;
    text-align: center;
    border-radius: 30px;
    position: relative;
    overflow: visible;
}

/* Style carousel items */
.carousel-item {
    display: none;
    width: 100%;
}

.carousel-item.active {
    display: block;
}

/* Style carousel controls */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #008080;
    background: transparent;
    border: none;
    cursor: pointer;
}

.carousel-control-prev {
    left: 1rem;
}

.carousel-control-next {
    right: 1rem;
}

/* Apply background image to the left side of the login box */
.side1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-attachment: local;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

/* Style logo and text elements */
#logo {
    width: 5rem;
    order: -2;
    align-self: flex-start;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 1));
}

#text1 {
    font-size: var(--mainFontSize);
    align-self: center;
    position: relative;
    right: 5rem;
    text-align: center;
    color: #6a091c;
    font-family: cursive;
    text-shadow: 2px 2px 4px #000000;
}

#text2 {
    font-size: calc(var(--mainFontSize) + 0.1rem);
    order: -1;
    align-self: flex-end;
    position: relative;
    right: 4rem;
    top: 1rem;
    color: #008080;
    font-family: cursive;
    text-shadow: 2px 2px 4px #000000;
}

/* Style the right side of the login box */
.side2 {
    text-align: center;
    border-radius: 30px;
    position: relative;
}

/* Style the message bubble */
.message-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6a091c;
    color: #008080;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message-bubble:hover {
    background-color: #8e0b26;
}

/* Style additional elements in the right side */
.side3 {
    text-align: center;
    border-radius: 30px;
    position: relative;
}

/* Style login and sign-up buttons */
.log button,
.Sign button {
    background-color: #6a091c;
    border-radius: 30px;
    font-size: 2rem;
    color: #008080;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
}

.log button:hover,
.Sign button:hover {
    background-color: #008080;
    color: #6a091c;
}

/* Style input fields */
input {
    border-radius: 20px;
    width: 25rem;
    height: 2rem;
    border-color: #008080;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
    border-width: 0.5rem;
    backface-visibility: visible;
    
}

.nav {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    position: fixed;
    top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
    font-family: cursive;

}

.nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    transition: color 0.3s ease-in-out;
    text-shadow: 5px 5px 4px #000000;
}

.nav a:hover {
    color:#008080;
}

.activeNav{
    border: 2px white solid;
    border-radius: 30px;
}
.activeNav:hover{
    background-color: #008080;
    color:#6a091c;
}
/* Style input placeholder text */
input::placeholder {
    font-family: cursive;
    opacity: 50%;
    font-size: 1rem;
}

input:hover::placeholder {
    opacity: 0%;
}

/* Style input on hover */
input:hover {
    border-color: #6a091c;
    background-color: rgba(255, 255, 255, 0.5);
}
/* Add your desired styles for the message bubble here */
.message-bubble {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

/* Position labels for specific input fields */
input[name="User"],
label[for="User"],
input[name="Email2"],
label[for="Email2"],
input[name="Pass2"],
label[for="Pass2"],
input[name="Email"],
label[for="Email"],
input[name="Pass"],
label[for="Pass"] {
    position: relative;
}
input[name="Email"],
label[for="Email"],
input[name="Pass"],
label[for="Pass"]{
    margin-bottom: 4rem;
}
/* Style labels */
label {
    position: relative;
    font-size: 1.5rem;
    font-family: cursive;
    color: #6a091c;
    text-shadow: 2px 2px 4px #000000;
}

/* Style the main call-to-action button */
#Cont,
#Cont2 {
    background-color: #6a091c;
    border-radius: 30px;
    font-size: 2rem;
    color: #008080;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    bottom: 0;
}

#Cont:hover,
#Cont2:hover {
    background-color: #8e0b26;
}

#Cont:active,
#Cont2:active {
    transform: scale(0.95);
}

/* Style icon elements */
#M-icon,
#U-icon,
#P-icon {
    display: inline;
    width: 1.2rem;
    margin-left: -0.4rem;
    margin-bottom: -0.1rem;
    color: #6a091c;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 1));
    filter: invert(1);
}

/* Media query for smaller screens */
@media only screen and (max-width: 900px) {
    :root {
        --mainFontSize: 0.8rem;
    }

    /* Adjust styles for smaller screens */
    input {
        width: 10rem;
    }

    .login-box {
        width: 90%;
        height: 25rem;
    }

    #text1 {
        font-size: calc(var(--mainFontSize) + 1rem);
    }

    #text2 {
        font-size: 1.5rem;
    }

    #logo {
        width: 5rem;
    }
    input{
        margin-bottom: -0.3rem;
    }
    label{
        margin-bottom: 2rem;
    }
    #Cont2{
        bottom :0rem;
    }
    #Cont{
        bottom: 3rem;
    }
}

  
